 {{> headerhomepage}}	
  	<!-- Start BEst Seller Area -->
		<section class="wn__product__area brown--color pt--80  pb--30">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section__title text-center">
						<div class="contact-btn">
                <button type="submit">Owner</button>
                 <a href="/customer/product"><button type="submit">Customer</button></a>
             </div>
						</div>
					</div>
				</div>
			</div>
		</section>
	
